section
  section.sec-slide.text-left
    h3 Eu sou...
    ul
      li.fragment Full Stack Developer
      li.fragment Estudante de Computação no IFCE

  section.sec-slide

    h3 Desenvolvedor Front End
    hr
    img(src="img/logos/chegola.svg", alt="Chego Lá")


  section.sec-slide

    h2 Vocês podem me achar...

    .col-3.fragment
      img(src="img/social/gh.png", alt="Meu Github")
      p /AbraaoAlves
    .col-3.fragment
      img(src="img/social/medium.png", alt="Minha conta na Medium")
      p @abraoalves
