section.sec-slide.left
  h3.left O que veremos
  ul
    li.fragment Conceitos iniciais
    li.fragment Metadata?
    li.fragment Semântica?
    li.fragment Padrões
    li.fragment Microdata
    li.fragment Open Graph
    li.fragment Algumas ferramentas
