section.sec-slide.text-left
  h3.text-left O que veremos
  ul
    li.fragment Conceitos iniciais
    li.fragment Metadata?
    li.fragment Semântica?
    li.fragment Vocubulários/Protocolos
    li.fragment Microdata
    li.fragment Open Graph
    li.fragment Algumas ferramentas
