section

  section.sec-slide(data-background="img/gifs/suspecious.gif")

    h1.white As pessoas usam mesmo?

  section.sec-slide

    ul
      li.fragment 14k+ estrelas no GitHub
      li.fragment Top 50 projetos no Github
      li.fragment Top 10 projetos em Javascript no Github
      li.fragment Ionic CLI atinge cerca de 70k downloads/mês
      li.fragment 400k+ apps criados pelo Ionic CLI
      li.fragment ...

  section.sec-slide(data-background="img/gifs/willy-wonka.gif")

    h1.white Tire suas conclusões...
