section

  section.sec-slide(data-background="img/gifs/race.gif")

    h1.white Como começar?

  section.sec-slide

    ol
      li.fragment Instalar <strong>homebrew</strong> e o <strong>Node.js</strong>
      li.fragment Instalar <strong>Cordova</strong>, <strong>Ionic</strong> e <strong>Gulp</strong> como dependências globais do <strong>Node.js</strong>
      li.fragment Google Chrome <i>(para depuração)</i>
