section

  section.sec-slide(data-background="img/components/ui-components.jpg")

    h1.blue Componentes de UI

  section.sec-slide(data-background="#93c47d")

    h2.white Ionicons

    img(src="img/components/ionicons.png", alt="Ionicons", width="80%")

  section.sec-slide

    h2 Menu Lateral

    .col-iphone
      img(src="img/components/sidemenu.png", alt="Menu Lateral")

    .col-desktop
      pre
        code.
          <ion-side-menus>
            <ion-side-menu-content>
              <ion-nav-bar></ion-nav-bar>
              <ion-nav-view></ion-nav-view>
            </ion-side-menu-content>

            <ion-side-menu side="left">
              <header class="bar bar-header bar-positive">
                <div class="title">Projects</div>
              </header>
              <ion-content has-header="true">
                <div class="list">
                  <a href="#/work" class="item">Work</a>
                  <a href="#/home" class="item">Home</a>
                </div>
              </ion-content>
            </ion-side-menu>
          </ion-side-menus>

  section.sec-slide

    h2 Abas

    .col-iphone
      img(src="img/components/tabs.png", alt="Abas")

    .col-desktop
      pre
        code.
          <ion-tabs class="tabs-icon-only">
            <ion-tab title="Home"
                  icon="ion-star">
              <ion-nav-view></ion-nav-view>
            </ion-tab>

            <ion-tab title="Feedback"
                   icon="ion-thumbsdown">
              <ion-nav-view></ion-nav-view>
            </ion-tab>

            <ion-tab title="Messages"
                  icon="ion-chatbubble-working">
              <ion-nav-view></ion-nav-view>
            </ion-tab>
          </ion-tabs>

  section.sec-slide

    h2 Listas

    .col-iphone
      img(src="img/components/list.png", alt="Listas")

    .col-desktop
      pre
        code.
          <div class="list">
            <div class="item item-divider">
            Candy Bars
            </div>

            <a class="item" href="#">
            Butterfinger
            </a>

            <a class="item" href="#">
            Kit Kat
            </a>
          ...
          </div>

  section.sec-slide

    h2 Navigation

    .col-iphone
      img(src="img/components/navigation.png", alt="Navigation")

    .col-desktop
      pre
        code.
          <ion-nav-bar>
            <ion-nav-back-button>
              Back
            </ion-nav-back-button>
          </ion-nav-bar>

          <ion-nav-view animation="slide-left-right">
            <!-- content -->
          </ion-nav-view>

  section.sec-slide

    h2 Slide Box

    .col-iphone
      img(src="img/components/slidebox.png", alt="Slide Box")

    .col-desktop
      pre
        code.
          <ion-slide-box
              on-slide-changed="change(index)">
            <ion-slide>
              Slide 1
            </ion-slide>
            <ion-slide>
              Slide 2
            </ion-slide>
            <ion-slide>
              Slide 3
            </ion-slide>
          </ion-slide-box>

  section.sec-slide

    h2 Action Sheet

    .col-iphone
      img(src="img/components/actionsheet.png", alt="Action Sheet")

    .col-desktop
      pre
        code.
          $ionicActionSheet.show({
            titleText: 'Modify your album',
            buttons: [
              { text: 'Share' },
              { text: 'Move' },
            ],
            destructiveText: 'Delete',
            cancelText: 'Cancel',
            buttonClicked: function(index) {
              console.log('BUTTON CLICKED', index);
              return true;
            }
          });

  section.sec-slide

    h2 Refresher

    .col-iphone
      img(src="img/components/actionsheet.png", alt="Refresher")

    .col-desktop
      pre
        code.
          <ion-content on-refresh="refreshData()">
            <ion-refresher></ion-refresher>
            <!-- content -->
          </ion-content>

  section.sec-slide

    h3 E mais:

    ul.fragment
      li Cards
      li Formulários
      li Checkboxes, radio buttons etc.
      li Grids
      li Loadings, spinners
      li Modais
      li Popups, popovers etc.

    h3.fragment Muuuuuito mais ;)

