section

  section.sec-slide

    h3 hy · per · text
    h5.fragment.secondary substantivo
    p.fragment Sistema de organização da informação que <i>liga tópicos</i> na tela para <i>informações relacionadas</i>.

  section.sec-slide

    h3 hy · per · link
    h5.fragment.secondary substantivo
    p.fragment Um link de um arquivo ou documento de hipertexto <i>para outro local ou arquivo</i>.

  section.sec-slide

    h3 in · for · ma · ção
    h5.fragment.secondary substantivo
    p.fragment Esclarecimento dado sobre os méritos ou estado de algo; fatos fornecidos ou aprendidos sobre algo ou alguém.
    p.fragment.midnight <i>Ex.:</i> Detalhes, Particularidades, Fatos, Figuras, Estatísticas... <strong>Dados</strong>...


  section.sec-slide

    h3 da · dos
    h5.fragment.secondary substantivo
    div.fragment
      h4.midnight Na computação...
      p Quantidades, caracteres ou símbolos dos quais operações são executadas por um computador, sendo armazenados e transmitidos na forma de sinais eléctricos e gravados no suporte de gravação magnética, óptica ou mecânica.
    div.fragment
      hr
      h4.midnight Na filosofia...
      p Coisas conhecidas ou assumidas como fatos, tornando-se a base do raciocínio ou cálculo.
