section

  section.sec-slide

    img(src="img/logos/cordova.png", alt="Apache Cordova")

  section.sec-slide

    h3 Como começou?
    ul
      li.fragment <strong>2009:</strong> Projeto Phonegap iniciado na Nitobi
      li.fragment <strong>2011:</strong> Adobe compra o Phonegap
      li.fragment <strong>2012:</strong> Phonegap doado a Apache com o nome de Cordova
      li.fragment <strong>Agora:</strong> Phonegap é uma distribução de Cordova mantida pela Adobe

  section.sec-slide

    h3 Mas o que é?
    ul
      li.fragment Web abstraída em camada nativa
      li.fragment Acesso direto a APIs nativas
      li.fragment Ambiente de desenvolvimento familiar para desenvolvedores web
      li.fragment Desenvolver uma única base de código (web)
