section

  section.sec-slide(data-background="#8e44ad")

    h1.white Algumas ferramentas...

  section.sec-slide

    ul
      li.fragment Open Graph Object Debugger
      li.fragment Card validator
      li.fragment Google Rich Snippet Testing Tool
