section

  section.sec-slide(data-background="img/tools.jpg")

    h1.blue Ferramentas

  section.sec-slide

    h2 Ionic CLI

    pre
      code.
        $ npm install -g ionic

    p Facilita o processo de criação/execução/compilação/depuração de aplicações Ionic
      pre
        code.
          $ ionic start myapp [template]
          $ ionic setup sass
          $ ionic serve [options]
          $ ionic platform ios
          $ ionic run ios [options]
          $ ionic resources
          $ ionic build ios

  section.sec-slide

    h2 Ionic Playground

    img(src="img/tools/playground.png", alt="Ionic Playground", width="80%")

    p Demos no navegador, sem ter que instalar nada :)

    p.green play.ionic.io

  section.sec-slide

    h2 Ionic Creator

    img(src="img/tools/creator.png", alt="Ionic Creator")

    p Ferramenta <i>drag-and-drop</i> para prototipagem de interfaces

    p.green creator.ionic.io


  section.sec-slide

    h2 Ionic Lab

    .col-desktop
      img(src="img/tools/lab.png", alt="Ionic Lab")

    p Debug Android e iOS simultaneamente
    pre
      code.
        $ ionic serve --lab

  section.sec-slide

    h2 Ionic View

    .col-iphone
      img(src="img/tools/view.png", alt="Ionic View")

    .col-desktop
      p Visualizar/Compatilhar/Testar apps em vários aparelhos
      pre
        code.
          $ ionic start myApp
          $ cd myApp
          $ ionic upload

