section(data-background="img/home.jpg")
  h4.white (SUPER)
  h1.white APPS HÍBRIDOS
  h4.white COM
  h1.white IONIC FRAMEWORK

  h5.white.text-left @mabrasil
  h5.white.text-left @AbraaoAlves
  h5.white.text-right #CocoaHeads
