section(data-background="img/home.jpg")

  h5.purple.text-left @mabrasil
  h5.purple.text-left #pylestras

  h1.red AVENTURANDO-SE
  h4.red COM
  h1.red METADADOS
  hr
  h2.red-dark MICRODATA & OPEN GRAPH
