section(data-background="img/home.jpg")
  h4.green (SUPER)
  h1.blue APLICAÇÕES HÍBRIDAS
  h4.green COM
  h1.blue IONIC FRAMEWORK

  h5.green.text-left @mabrasil
  h5.green.text-left @AbraaoAlves
  h5.blue.text-right #CocoaHeads
