section(data-background="images/home.jpg")

  h5.primary.left @mabrasil
  h5.primary.left #pylestras

  h1.secondary AVENTURANDO-SE
  h4.secondary COM
  h1.secondary METADADOS
  hr
  h2.red-dark MICRODATA & OPEN GRAPH
