section

  section.sec-slide(data-background="#2980b9")

    img(src="img/logos/ionic-logo.png", alt="Ionic <3")

  section.sec-slide

    h2 Combinações interessantes...

    .col-3.fragment
      img(src="img/features/html.png", alt="HTML5")
      p HTML5
    .col-3.fragment
      img(src="img/features/css.png", alt="CSS3")
      p CSS3
    .col-3.fragment
      img(src="img/features/js.png", alt="Javascript")
      p Javascript

  section.sec-slide

    h2 Combinações interessantes...

    .col-3.fragment
      img(src="img/features/angular-ionic.png", alt="AngularJS <3")
      p AngularJS <3
    .col-3.fragment
      img(src="img/features/performance.png", alt="Desempenho importa")
      p Desempenho importa
    .col-3.fragment
      img(src="img/features/native.png", alt="Focado no nativo")
      p Focado no nativo

  section.sec-slide(data-background="#2980b9")

    h2.white Tudo isso em:

    .col-3.fragment
      img(src="img/platforms/apple.png", alt="Apple iOS")
    .col-3.fragment
       img(src="img/platforms/android.png", alt="Google Android")
