section

  section.sec-slide(data-background="img/gifs/dancing-robot.gif")

    h3 <i>Tá legal... </i>
    h1.fragment <i>Mas e aí?</i>

  section.sec-slide(data-background="img/gifs/turn-down-for-what.gif")

    h3.midnight.bottom E se extendessemos a semântica HTML com mais metadados?

  section.sec-slide(data-background="#8e44ad")

    h1.white Lembra-se dos padrões?

  section.sec-slide

    h3 Temos mais :)

    ul
      li.fragment Microformats
      li.fragment RDFa
      li.fragment <strong>Microdata</strong>
      li.fragment <strong>Open Graph</strong>
