section

  section.sec-slide(data-background="img/other/mimimi.jpg")

    h1 <i>Mas... aplicações híbridas são lentas!</i>

  section.sec-slide(data-background="img/other/keep-calm-work-hard-and-stop-mimimi.png")

  section.sec-slide(data-background="img/gifs/recalque.gif")

    h1 Os tempos são outros ;)

  section.sec-slide

    h4 Os dispositivos móveis têm melhorado ;)

    table
      tr.fragment
        td <strong>Ano</strong>
        td <strong>Dispositivo</strong>
        td <strong>Processador</strong>
        td <strong>RAM</strong>
      tr.fragment
        td 2007
        td iPhone
        td 620 MHz
        td 128 MB
      tr.fragment
        td 2010
        td iPhone 4
        td 1 GHz
        td 512 MB
      tr.fragment
        td 2015
        td iPhone 6
        td 1.4 GHz dual-core
        td 1 GB
