section

  section.sec-slide(data-background="img/gifs/finn-amazed.gif")

    h1 Muitas coisas legais!

  section.sec-slide(data-background="img/gifs/nice.gif")

    h3.white <i>Sua missão, caso deseje aceitá-la...</i>

  section.sec-slide(data-background="#8e44ad")

    p É tornar dados cada vez mais <strong>acessíveis</strong>, <strong>significantes</strong> e <strong>reusáveis</strong>, contribuindo para o crescimento da <strong>Web Semântica</strong>.
