section

  section.sec-slidesection(data-background="#2980b9")

    h1 Problemas?

  section.sec-slide

    ul
      li.fragment Proficiência em cada plataforma necessária
      li.fragment Bases de código claramente diferentes e separadas
      li.fragment Processo de desenvolvimento requer mais tempo e dinheiro
      li.fragment Menos retorno :/
