section(data-background="#c0392b")

  .col-3.fragment
    img(src="img/platforms/apple.png", alt="Apple iOS")
  .col-3.fragment
    img(src="img/platforms/android.png", alt="Google Android")
  .col-3.fragment
    img(src="img/platforms/windows.png", alt="Windows Phone")

  h2.fragment ...

  h4.fragment <i>Mais plataformas, mais problemas :/ </i>
