section

  section.sec-slide(data-background="#8e44ad")

    h1.white Open Graph

  section.sec-slide

    ul
      li.fragment Inserir páginas dentro no Facebook
      li.fragment Facilidade; sem quebrar outros serviços

  section.sec-slide

    h4 Dados sobre...
    h5.fragment tudo ;)

    pre.fragment
      code.
        <meta property="fb:admins" content="ID do seu fb insight">
        <meta property="og:url" content="URL do seu site">
        <meta property="og:type" content="Tipo do link (article, page etc.)">
        <meta property="og:title" content="Título do site">
        <meta property="og:image" content="Imagem do site">
        <meta property="og:description" content="Breve descrição">
        <meta property="og:site_name" content="Nome do site">
        <meta property="article:author" content="Facebook de quem escreveu">
        <meta property="article:publisher" content="Facebook de quem publicou">
        <meta property="article:published_time" content="Momento de publicação">
        <meta property="article:tag" content="tag1">
        <meta property="article:tag" content="tag2">

  section.sec-slide

    h4 exemplo...

    .col-example.fragment

      img(src="img/examples/print-facebook.png", alt="Share no Facebook")

    .col-desktop.fragment
      pre
        code.
          <meta property="og:site_name" content="Matheus Brasil" />
          <meta property="og:type" content="article" />
          <meta property="og:title" content="Links Interessantes #3" />
          <meta property="og:description" content="Links de posts/blogs/projetos mais interessantes que vi ao longo da semana...." />
          <meta property="og:url" content="http://matheusbrasil.com/links-interessantes-3/" />
          <meta property="og:image" content="http://matheusbrasil.com/content/images/2015/04/links-interessantes-3.png" />
          <meta property="article:published_time" content="2015-04-19T02:54:00.000Z" />
          <meta property="article:modified_time" content="2015-04-21T02:57:32.532Z" />
          <meta property="article:tag" content="Links interessantes" />

  section.sec-slide(data-background="#2980b9")

    h1.white Mas só no Facebook?

  section.sec-slide.text-left.top(data-background="img/logos/twitter.jpg")

    h1.white Não ;)

  section.sec-slide

    h4 Mais dados!

    pre.fragment
      code.
        <meta name="twitter:card" content="summary_large_image"> <!-- O tipo de card -->
        <meta name="twitter:site" content="Twitter handler do site">
        <meta name="twitter:title" content="Título do Post">
        <meta name="twitter:description" content="Descrição do post">
        <meta property="twitter:image:src" content="Link da imagem">

  section.sec-slide

    h4 exemplo...

    .col-example.fragment

      img(src="img/examples/print-twitter.png", alt="Share no Twitter")

    .col-desktop.fragment
      pre
        code.
          <meta name="twitter:card" content="summary_large_image" />
          <meta name="twitter:title" content="Links Interessantes #3" />
          <meta name="twitter:description" content="Links de posts/blogs/projetos mais interessantes que vi ao longo da semana...." />
          <meta name="twitter:url" content="http://matheusbrasil.com/links-interessantes-3/" />
          <meta name="twitter:image:src" content="http://matheusbrasil.com/content/images/2015/04/links-interessantes-3.png" />

  section.sec-slide(data-background="img/gifs/jake-dancing.gif")

    h2 Mais possibilidades!
