section

  section.sec-slide(data-background="images/other/back-python.png")

    h1.white Cadê Python?

  section.sec-slide(data-background="#8e44ad")

    p Metadata é <strong>importante independentemente de seu back-end</strong>.

  section.sec-slide

    h2 E mais!
    h4.fragment Python <3
    ul
      li.fragment Crawling
      li.fragment Spidering
      li.fragment Scraping
