section

  section.sec-slide(data-background="img/gifs/but-what.gif")

    h1.white Então os SDKs nativos são ruins?

  section.sec-slide(data-background="#c0392b")

    h1.white NÃO!

  section.sec-slide(data-background="#93c47d")

    h1.white Eles são incríveis <3

  section.sec-slide

    ul
      li.fragment UI <i>comum</i>
      li.fragment Views
      li.fragment Navegação e Histórico no Stack
      li.fragment Transições
      li.fragment Gestos
      li.fragment ...
