section

  section.sec-slide(data-background="#93c47d")

    h1.white E onde está o SDK da web?

  section.sec-slidesection.sec-slide(data-background="img/other/404.jpg")

  section.sec-slide

    ul
      li.fragment Necessidade de preencher a lacuna entre web e nativas
      li.fragment Necessidade de componentes de UI e interações ricas e <i>nativas</i>
      li.fragment Necessidade de APIs de UI, e não apenas os widgets do jQuery
