section

  section.sec-slide

    h3 se · mân · ti · ca
    h5.fragment.red substantivo
    p.fragment O significado/interpretação do significado de uma palavra, de uma frase ou de uma expressão em um determinado contexto.

  section.sec-slide

    h3 Um pouco de semântica HTML...

    p.fragment < title >
    p.fragment < body >
    p.fragment < blockquote >
    p.fragment < div >
    p.fragment < span >
    p.fragment < head >
    p.fragment < meta >

  section.sec-slide(data-background="img/gifs/poker.gif")

    h1.white E onde entra a <i>Web Semântica</i>?

  section.sec-slide(data-background="#c0392b")

    h2.white O problema

    ul
      li.fragment O crescimento da internet tomou proporções inimagináveis
      li.fragment Um verdadeiro caos de informações
      li.fragment Volume de informações tão absurdo que acaba poluindo os resultados e tornando a navegação cada vez mais confusa e dispersa

  section.sec-slide(data-background="#27ae60")

    h2.white A solução

    ul
      li.fragment Cada informação vem com um significado bem definido
      li.fragment Novos motores de busca
      li.fragment Interfaces inovadoras
      li.fragment Criação de dicionários de sinônimos
      li.fragment Organização inteligente de conteúdos

  section.sec-slide(data-background="img/gifs/jake-amazed.gif")

  section.sec-slide(data-background="img/gifs/but-what.gif")

    h2.white Espera... É uma nova rede de informações?

  section.sec-slide(data-background="#8e44ad")

    h1.white NÃO
    h2.fragment.white apenas <i>conceitos inteligentes</i> aplicados na internet atual :)
