doctype html
html
  include inc/head
  body
    .reveal
      .slides
        include ../slides/inicio
        include ../slides/site-slides
        include ../slides/eu
        include ../slides/agenda
        include ../slides/conceitos-iniciais
        include ../slides/metadados
        include ../slides/semantica
        include ../slides/ligacao
        include ../slides/microdata
        include ../slides/open-graph
        include ../slides/ferramentas
        include ../slides/python
        include ../slides/missao
        include ../slides/perguntas
        include ../slides/bye
    include inc/scripts
