doctype html
html
  include inc/head
  body
    .reveal
      .slides
        include ../slides/inicio
        include ../slides/site-slides
        include ../slides/eu
        include ../slides/agenda
        include ../slides/perguntas
        include ../slides/bye
    include inc/scripts
