doctype html
html
  include inc/head
  body
    .reveal
      .slides
        include ../slides/inicio
        include ../slides/matheus
        include ../slides/abraao
        include ../slides/agenda
        include ../slides/nativo-hibrido
        include ../slides/perguntas
        include ../slides/bye
    include inc/scripts
