doctype html
html
  include inc/head
  body
    .reveal
      .slides
        include ../slides/inicio
        include ../slides/site-slides
        include ../slides/matheus
        include ../slides/abraao
        include ../slides/agenda
        include ../slides/nativo-x-hibrido
        include ../slides/nativo-pergunta
        include ../slides/nativo-plataformas
        include ../slides/nativo-problemas
        include ../slides/alternativas
        include ../slides/cordova
        include ../slides/mimimi
        include ../slides/sdks-nativos
        include ../slides/sdks-web
        include ../slides/ionic
        include ../slides/componentes
        include ../slides/ferramentas
        include ../slides/como-comecar
        include ../slides/as-pessoas-usam
        include ../slides/perguntas
        include ../slides/bye
    include inc/scripts
