head
  meta(charset="UTF-8")
  meta(name="description" content="Slides from my talk at Pylestras about metadata, focusing in Microdata and Open Graph")
  meta(name="author" content="Matheus Albuquerque Brasil")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")

  title Aventurando-se com metadados: Micro Data e Open Graph | @mabrasil

  // Social: Facebook
  meta(property="og:url" content="http://mabrasil.github.io/talks/2015/pylestras")
  meta(property="og:type" content="article")
  meta(property="og:title" content="Aventurando-se com metadados: Micro Data e Open Graph")
  meta(property="og:image" content="http://mabrasil.github.io/talks/2015/pylestras/img/other/slides-cover.png")
  meta(property="og:description" content="Slides from my talk at Pylestras about metadata, focusing in Microdata and Open Graph.")
  meta(property="og:site_name" content="@mabrasil | Talks")
  meta(property="article:author" content="https://www.facebook.com/matheus.brasil.56884")
  meta(property="article:publisher" content="https://www.facebook.com/matheus.brasil.56884")

  // Social: Twitter
  meta(name="twitter:card" content="summary_large_image")
  meta(name="twitter:site" content="@mabrasil_io")
  meta(name="twitter:title" content="Aventurando-se com metadados: Micro Data e Open Graph")
  meta(name="twitter:description" content="Slides from my talk at Pylestras about metadata, focusing in Microdata and Open Graph.")
  meta(property="twitter:image:src" content="http://mabrasil.github.io/talks/2015/pylestras/img/other/slides-cover.png")

  // Styles & Reveal
  link(rel="stylesheet", type="text/css", href="css/main.css")
  script(src="js/vendor/reveal.min.js")
