head
  meta(charset="UTF-8")
  meta(name="description" content="Construindo aplicações Híbridas com Ionic")
  meta(name="author" content="Matheus Albuquerque Brasil")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  title Aplicações Híbridas com Ionic | @mabrasil
  link(rel="stylesheet", type="text/css", href="css/main.css")
  script(src="js/vendor/reveal.min.js")
